<!-- RODAPE -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="row">
            <h5>Desenvolvido por: </h5>
            <!-- <button class="btn btn-info pull-right">
                <span class="glyphicon glyphicon-question-sign"></span> AJUDA
            </button> -->
            <ul class="list-group" unstyled>
                <li><a href="mailto:bruno1.coelho@ge.com">Bruno Coelho (502414697) - Front/Back end</a></li>  
                <li><a href="mailto:carlosalbertoribeiro.junior@ge.com">Carlos Junior (502736277) - Banco de dados</a></li> 
            </ul>
        </p>        
    </div>
</nav>